@import url('https://fonts.googleapis.com/css?family=Catamaran');

body {
  background-color:#f6f6f6;
}

#header {
  color:#333;
  background-color:#fff;
  border:1px solid #dcdcdc;
  width:500px;
  margin:0 auto;
  padding:20px;
  font:14px Catamaran;
  text-align:center;
  font-weight:bold;
}

#header a {
  text-decoration:none;
  color:#236ea6;
}

#content {
  width:500px;
  min-height:200px;
  margin:0 auto;
  margin-top:10px;
  padding:20px;
  background-color:#fff;
  border:1px solid #dcdcdc;
  font:11px Catamaran;
  letter-spacing:0.2px;
}

.title {
  color:#236ea6;
  font-size:13px;
  text-align:center;
  border-top:1px solid #dcdcdc;
  border-bottom:1px solid #dcdcdc;
  padding:5px 0;
  margin:10px 0;
}

